<% include("../functions") %>
<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta charset="UTF-8">
  <meta property="hr:page_type" content="top">
  <title>Services | The Boyfriend Experience</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="/stylesheets/style.css" />

  <!-- Google tag (gtag.js) -->
  <script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script>
  <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-168679914-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', 'UA-168679914-1');
  </script>
  <!-- Google tag (gtag.js) -->
  <script async="" src="https://www.googletagmanager.com/gtag/js?id=G-3J1810SBEQ"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', 'G-3J1810SBEQ');
  </script>
  <!-- END Google tag (gtag.js) -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="hr:page_type" content="top">
  <title>Services | The Boyfriend Experience</title>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <meta property="og:site_name" content="The BFE">
  <meta property="og:url" content="https://thebfe.com">
  <meta property="og:site_name" content="the Boyfriend Experience">
  <meta property="og:description" content="Your perfect date. Experience something beyond the traditional boundaries of companionship when you hire Brock, a male escort based in Atlanta and available worldwide. Professional and discreet, the boyfriend experience is designed to give you the attention, care, and affection you crave without any strings attached.">
  <meta name="Keywords" content="male escort, hired companion, professional boyfriend, rent boy, social escort, atlanta escort, independent escort service">
  <meta property="og:type" content="website">
  <meta property="og:image" content="https://thebfe.com/images/og.svg">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="192x192" href="/android-chrome-192x192.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#000000">
  <meta name="apple-mobile-web-app-title" content="The Boyfriend Experience">
  <meta name="application-name" content="The Boyfriend Experience">
  <meta name="msapplication-TileColor" content="#000000">
  <meta name="msapplication-TileImage" content="/mstile-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="https://thebfe.com/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="https://thebfe.com/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="https://thebfe.com/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="https://thebfe.com/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon-precomposed" sizes="60x60" href="https://thebfe.com/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="https://thebfe.com/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon-precomposed" sizes="76x76" href="https://thebfe.com/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="https://thebfe.com/apple-touch-icon-152x152.png">
  <link rel="icon" type="image/png" href="https://thebfe.com/favicon-196x196.png" sizes="196x196">
  <link rel="icon" type="image/png" href="https://thebfe.com/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="https://thebfe.com/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="https://thebfe.com/favicon-16x16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="https://thebfe.com/favicon-128.png" sizes="128x128">
  <link href="//db.onlinewebfonts.com/c/6d93a087f63bf2d7cf32abdb29ba005a?family=ITC+Busorama" rel="stylesheet" type="text/css">
  <link href="https://fonts.cdnfonts.com/css/neutraface-text" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
  <meta name="application-name" content="&nbsp;">
  <meta name="msapplication-TileColor" content="#FFFFFF">
  <meta name="msapplication-TileImage" content="https://thebfe.com/mstile-144x144.png">
  <meta name="msapplication-square70x70logo" content="https://thebfe.com/mstile-70x70.png">
  <meta name="msapplication-square150x150logo" content="https://thebfe.com/mstile-150x150.png">
  <meta name="msapplication-wide310x150logo" content="https://thebfe.com/mstile-310x150.png">
  <meta name="msapplication-square310x310logo" content="https://thebfe.com/mstile-310x310.png">
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "WebSite",
      "url": "https://thebfe.com/",
      "name": "The Boyfriend Experience",
      "description": "Your perfect date. Experience something beyond the traditional boundaries of companionship when you hire Brock, a male escort based in Atlanta and available worldwide. Professional and discreet, the boyfriend experience is designed to give you the attention, care, and affection you crave without any strings attached.",
      "image": "https://thebfe.com/images/og.svg"
    }
  </script>
  <script type="application/ld+json">
    {
      "@context": "https://www.schema.org",
      "@type": "EscortService",
      "name": "The Boyfreind Experience",
      "legalName": "Devore Services LLC",
      "url": "https://thebfe.com/",
      "logo": "https://thebfe.com/images/logo.svg",
      "image": "https://thebfe.com/images/og.svg",
      "photo": "https://thebfe.com/images/og.svg",
      "description": "Your perfect date. Experience something beyond the traditional boundaries of companionship when you hire Brock, a male escort based in Atlanta and available worldwide. Professional and discreet, the boyfriend experience is designed to give you the attention, care, and affection you crave without any strings attached. You won't regret it.",
      "naics": "812990",
      "email": "nicks.pawls_0f@icloud.com",
      "telephone": " +1 404-998-0707",
      "founder": {
        "@type": "Person",
        "name": "B. Goodwin",
        "jobTitle": "Owner"
      },
      "address": {
        "@type": "PostalAddress",
        "streetAddress": "905 Juniper Street NE",
        "addressLocality": "Atlanta",
        "addressRegion": "GA",
        "postalCode": "30309",
        "addressCountry": "US"
      },
      "geo": {
        "@type": "GeoCoordinates",
        "latitude": "33.779160",
        "longitude": "-84.382339"
      },
      "hasMap": "https://goo.gl/maps/ySgNC9xqe9byv7sG6",
      "currenciesAccepted": "USD",
      "openingHours": "Mo 00:00-24:00 Tu, We, Th 00:00-24:00 Fr, Sa 00:00-24:00",
      "paymentAccepted": "Cash, Credit Card, Debit Card, Check, Apple Pay",
      "priceRange": "$$$",
      "sameAs": [
        "https://square.site/book/Y27N30S938M79/boyfriend-experience-atlanta-ga?_savt=d7f72033-df9f-4282-84d9-9eceef9856b4",
        "https://www.twitter.com/atlcallboy/",
        "https://www.rent.men/atlcallboy/",
        "https://friendboy.pro/boys/BrockDevore_",
        "https://jock2go.eu/atlcallboy/"
      ]
    }
  </script>
  <link rel="icon" type="image/svg+xml" href="https://thebfe.com/assets/images/favicon.svg">
  <link rel="icon" type="image/png" href="https://thebfe.com/assets/images/favicon.png">
  <meta name="robots" content="max-image-preview:large">
  <link rel="alternate" hreflang="en-US" href="index.html">
  <link rel="alternate" hreflang="fr-FR" href="fr/index.html">
  <link rel="alternate" hreflang="es-MX" href="es/index.html">
  <link rel="stylesheet" href="https://thebfe.com/assets/styles/index.css">
  <script type="text/javascript" src="http://typesquare.com/3/tsst/script/ja/typesquare.js?6364b96a56244ea28c8961a0ac1e02e5&amp;fadein=-1" charset="utf-8"></script>

</head>

<body data-page-type="news">

  <div class="l-bg js-bgNoise"></div>
  <header>
    <%- include("../partials/header") %>

  </header>
  <!-- START: pjax container -->
  <main id="swup" class="l-container is-transition-fade js-pjaxContainer">

    <!-- START: scroll container -->
    <div class="l-scrollContainer js-scrollContainer js-contentsWrapper">

      <!-- nav -->
      <div class="l-nav u-pc" data-scroll-section>
        <nav class="c-nav js-nav">
          <div class="c-section-content">
            <div class="c-nav__wrapper">

              <ul class="c-nav__list">
                <li class="c-nav__listItem">
                  <a class="_link c-hoverTransparent" href="listings.html" data-swup-preload>Listings</a>
                </li>
                <li class="c-nav__listItem">
                  <a class="_link c-hoverTransparent" href="/booking.html" data-swup-preload>Booking</a>
                </li>
                <li class="c-nav__listItem">
                  <a class="_link c-hoverTransparent" href="gallery.html" data-swup-preload>Gallery</a>
                </li>
                <li class="c-nav__listItem">
                  <a class="_link c-hoverTransparent" href="https://rentmen.eu/atlcallboy/reviews" target="_blank" rel="noopener noreferrer">Reviews <span class="c-arrowSlanting">
                      <span class="_arrow1"><img src="https://thebfe.com/assets/svg/common/arrow-slanting.svg" alt></span>
                      <span class="_arrow2"><img src="https://thebfe.com/assets/svg/common/arrow-slanting.svg" alt></span>
                    </span> </a>
                </li>
              </ul>

            </div>
          </div>
        </nav>
      </div>
      <!-- contents start -->
      <div class="ne">
        <div class="ne__bg" data-scroll-section>
          <div class="c-largeBg is-waiting js-pageBg">
            <picture>
              <source srcset="https://thebfe.com/assets/img/common/dark/bg-large.png" media="(prefers-color-scheme: dark)"> <img class="_left u-pc" src="https://thebfe.com/assets/img/common/light/bg-large.png" alt="Light Mode Image">
            </picture>
            <picture>
              <source srcset="https://thebfe.com/assets/img/common/dark/bg-large.png" media="(prefers-color-scheme: dark)"> <img class="_right u-pc" src="https://thebfe.com/assets/img/common/light/bg-large.png" alt="Light Mode Image">
            </picture>
            <picture>
              <source srcset="https://thebfe.com/assets/img/common/dark/bg-middle-sp.png" media="(prefers-color-scheme: dark)"> <img class="_left u-sp" src="https://thebfe.com/assets/img/common/light/bg-middle-sp.png" alt="Light Mode Image">
            </picture>
            <picture>
              <source srcset="https://thebfe.com/assets/img/common/dark/bg-middle-sp.png" media="(prefers-color-scheme: dark)"> <img class="_right u-sp" src="https://thebfe.com/assets/img/common/light/bg-middle-sp.png" alt="Light Mode Image">
            </picture>

          </div>
        </div>

        <div class="ne__guide" data-scroll-section>
          <div class="c-guide">
            <span class="c-guide__line"></span>
            <span class="c-guide__line"></span>
            <span class="c-guide__line"></span>
            <span class="c-guide__line"></span>
            <span class="c-guide__line"></span>
          </div>
        </div>
        <div class="ne__header js-sectionBg" data-scroll-section data-section-bg="white">
          <section class="ne-header">
            <div class="c-section-content">
              <div class="ne-header__wrapper">
                <div class="ne-header__content">
                    <h1 class="c-subPageTitle is-waiting js-subPageTitle">
                      <span class="_frame">
                        <span class="_title" style="Font-family:Brilon-regular;">
                         <span class="u-pc" style="font-size: 7rem;"> availability</span>
                         <span class="u-sp" style="font-size:6rem;">bing </span>
                        </span>
                      </span>
                    </h1>
                  </div>
                </div>
              </div>
            
                   
                 
            </div>
          </section>
        </div>

        <div class="ne__body js-sectionBg" data-scroll-section data-section-bg="white">
          <section class="ne-body js-newsIndex">
            <div class="c-section-content">
              <div class="ne-body__wrapper">
                <div class="ne-body__content" font-size="min(max(16px, 4vw), 22px);">
                  <dl class="ne-yearList js-newsList">
                    <div id="news-in-2022" class="ne-yearList__year  js-newsYearItem">
                      <dt class="_year u-pc is-inview" data-scroll="" data-scroll-sticky="" data-scroll-target="#news-in-2022" style="transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);">
                        <div data-scroll="" data-scroll-speed="-1.1" class="is-inview" style="transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 32.0014, 0, 1);">
                         <a class="button" href="/staff/<%= serviceId %>?version=<%= serviceVersion %>"><span class="icon back-arrow"></span> Back</a>
                  <div class="steps">
                    <div class="steps__step">
                      <div class="steps__step-wrapper">
                        <div class="steps__step-title">
                          <a href="/services">Edit</a>
                        </div>
                        <div class="steps__step-body">
                          <div class="steps__step-name">
                            <%= serviceItem.itemData.name %>
                          </div>
                          <div class="steps__step-description">
                            <%= formatTime(serviceVariation.itemVariationData.serviceDuration) %>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="steps__step">
                      <div class="steps__step-wrapper">
                        <div class="steps__step-title">
                          <a href="/staff/<%= serviceId %>?version=<%= serviceVersion %>">Edit</a>
                        </div>
                        <div class="availability-staff__card-wrapper">
                          <div class="staff__card-picture-wrapper">
                            <% if (locals.bookingProfile && bookingProfile.profileImageUrl) { %>
                            <img src="<%= bookingProfile.profileImageUrl %>" />
                            <% } else if (locals.bookingProfile) { %>
                            <%= getStaffInitials(bookingProfile.displayName) %>
                            <% } else { %>
                            <%= getStaffInitials("any") %>
                            <% } %>
                          </div>
                          <div class="steps__staff-step-body">
                            <div class="steps__step-name">
                              <% if (locals.bookingProfile) { %>
                              <%= bookingProfile.displayName %>
                              <% } else { %>
                              Any staff member
                              <% } %>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="steps__step selected">
                      <div class="steps__step-wrapper">
                        <div class="steps__step-title">
                          <span>time</span>
                          <span class="icon side-caret-selected"></span>
                        </div>
                      </div>
                    </div>
                    <div class="steps__step">
                      <div class="steps__step-wrapper">
                        <div class="steps__step-title">
                          <span>Enter your details</span>
                        </div>
                      </div>
                    </div>
                              </div>
                      </dt>
                  
                      <!-- News list in the year -->
                  
                     
                  
                           <%- include('../partials/date-selector', { availabilities }); %>
                        
                    </div>
                  
                  </dl>
                </div>
              </section>      </div>
              
              <div class="nf__footer js-sectionBg" data-scroll-section="" data-section-bg="white" data-scroll-section-id="section5" data-scroll-section-inview="" style="transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); opacity: 1; pointer-events: all;">
              <section class="nf-footer">
              <div class="c-section-content">
              <div class="nf-footer__wrapper">
              <div class="nf-footer__content">
              
              <a class="nf-footer__backLink" href="index.html" data-swup-preload="">
              <span class="_arrow"><span class="c-arrowRight">
              <span class="_bar1"></span>
              <span class="_bar2"></span>
              <span class="_triangle"><img src="https://thebfe.com/assets/svg/common/arrow-small-black.svg" alt="" class=""></span>
              </span></span>
              <span class="_label">
              <span class="c-stackedText">
              <span class="_label1">Back to Home</span>
              <span class="_label2">Back to Home</span>
              </span></span>
              </a>
              
              </div>
              </div>
              </div>
              </section>  </div>
              <!-- contents end -->
              <div class="l-footer js-sectionBg" data-scroll-section data-section-bg="gray">
              <footer class="c-footer js-footer">
              <div class="c-section-content">
              <div class="c-footer__wrapper">
              <div class="c-footer__bg js-footerBg">
                <picture>
                  <source srcset="https://thebfe.com/assets/img/footer/h-dark.png" media="(prefers-color-scheme: dark)"> <img class="_h" src="https://thebfe.com/assets/img/footer/h.png" alt="Light Mode Image">
                </picture>
                <div class="_door u-pc"></div>
              </div>
              <div class="c-footer__guide">
                <div class="c-guide"></div>
              </div>
              <nav class="c-footer__nav">
                <ul class="c-footer__breadcrumbs u-pc">
                  <li class="c-footer__breadcrumbsItem">
                    <a class="_link c-hoverTransparent" href="https://thebfe.com/" data-swup-preload>Top</a>
                  </li>
                </ul>
                <div class="c-footer__content">
                  <div class="c-footer__title">
                    <a class="c-footer__titleLink c-hoverTransparent" href="https://thebfe.com/" aria-label="go to top page" data-swup-preload><img class="c-footer__titleLogo" src="https://thebfe.com/assets/svg/common/logo_desktop.svg" alt="The BFE"></a>
                  </div>
                  <ul class="c-footer__links">
                    <li class="c-footer__linksItem">
                      <a class="_link c-hoverTransparent" href="https://thebfe.com//terms-of-use" data-swup-preload>Terms of
                        use</a>
                    </li>
                    <li class="c-footer__linksItem">
                      <a class="_link c-hoverTransparent" href="https://thebfe.com//privacy-policy/" data-swup-preload>Privacy
                        policy</a>
                    </li>
                    <li class="c-footer__linksItem">
                      <a class="_link c-hoverTransparent" href="https://www.websitepolicies.com/policies/view/hZAwWGJ1" data-swup-preload>Disclaimer</a>
                    </li>
                    <li class="c-footer__linksItem">
                      <a class="_link c-hoverTransparent" href="https://rentmen.eu/atlcallboy/reviews" target="_blank" rel="noopener noreferrer">Reviews
                        <span class="c-arrowSlanting"><span class="_arrow1"><img src="https://thebfe.com/assets/svg/common/arrow-slanting.svg" alt="arrow-slanting"></span> <span class="_arrow2"><img src="https://thebfe.com/assets/svg/common/arrow-slanting.svg" alt="arrow-slanting"></span></span></a>
                    </li>
                  </ul>
                  <hr class="c-footer__divider u-pc">
                  <div class="c-footer__contact">
                    <p class="c-footer__contactMsg">Send me a text</p><a class="c-footer__contactLink c-hoverTransparent" href="sms://+14049980707">(404) 998-0707</a>
                  </div>
                  <ul class="c-footer__externalServices">
                    <li class="c-footer__externalServicesItem c-hoverTransparent">
                      <a class="_link" href="https://openadultdirectory.com/escorts/" rel="noopener noreferrer" aria-label="open note"><img class="_note" src="https://img.openadultdirectory.com/banner-img/escorts-md.jpg" border="0" alt="OpenAdultDirectory.com Escorts "></a>
                    </li>
                    <li class="c-footer__externalServicesItem c-hoverTransparent">
                      <!-- Start TER Refer Link -->
                      <a target="_blank" href="https://www.theeroticreview.com/site_listing/refer.asp?c2l0ZV9pZD0xMDE3NDYwNzI4"><img src="https://www.theeroticreview.com/site_listing/reviewed_seal.gif" border="0" alt="The Erotic Review"></a>
                      <!-- End TER Refer Link -->
                    </li>
                  </ul>
                  <p class="c-footer__copyright">© 2022 the Boyfriend
                    Experience</p><a class="c-footer__toTopLink js-toTop" href="#"><span class="_arrow"><span class="c-arrowRight">
                      <span class="_bar1"></span>
                      <span class="_bar2"></span>
                      <span class="_triangle"><img src="https://thebfe.com/assets/svg/common/arrow-small-black.svg" alt="" class=""></span>
                    </span></span>Page top</a>
                </div>
              </nav>
              </div>
              </div>
              </footer>
              </div>
              </div>
              <!-- END: scroll container -->
              <!-- Menu -->
              <div class="l-menu">
              <nav class="c-menuPanel is-hidden js-menuPanel">
              <div class="c-section-content">
              <div class="c-menuPanel__wrapper">
              <div class="c-menuPanel__content js-menuContent">
              <div class="c-menu">
                <div class="c-menu__links">
                  <ul class="c-menu__linkList">
                    <li class="c-menu__linkItem">
                      <a class="_link c-hoverTransparent" href="/index.html" data-swup-preload>Home <span class="_no">01</span></a>
                    </li>
                    <li class="c-menu__linkItem">
                      <a class="_link c-hoverTransparent" href="/listings.html" data-swup-preload>Listings
                        <span class="_no">02</span></a>
                    </li>
                    <li class="c-menu__linkItem">
                      <a class="_link c-hoverTransparent" href="/booking.html" data-swup-preload>Booking <span class="_no">03</span></a>
                    </li>
                    <li class="c-menu__linkItem">
                      <a class="_link c-hoverTransparent" href="./gallery.html" data-swup-preload>Gallery
                        <span class="_no">04</span></a>
                    </li>
                    <li class="c-menu__linkItem">
                      <a class="_link c-hoverTransparent" href="https://rentmen.eu/atlcallboy/reviews" target="_blank" rel="noopener noreferrer">Reviews
                        <span class="_no">05</span> <span class="c-arrowSlanting"><span class="_arrow1"><img src="https://thebfe.com/assets/svg/common/arrow-slanting.svg" alt="arrow-slanting"></span> <span class="_arrow2"><img src="https://thebfe.com/assets/svg/common/arrow-slanting.svg" alt="arrow-slanting"></span></span></a>
                    </li>
                  </ul>
                </div>
                <div class="c-menu__others">
                  <div class="c-menu__contact">
                    <p class="_message"></p><a class="_email c-hoverTransparent" href="sms://+14049980707" target="_blank" rel="noopener noreferrer">(404) 998-0707</a>
                  </div>
                  <p class="c-menu__copyright u-pc">© 2022 The Boyfriend
                    Experience</p>
                </div>
                <div class="c-menu__languages">
                  <div class="c-langSwitch js-langSwitch">
                    <ul class="c-langSwitch__list">
                      <li class="c-langSwitch__listItem">
                        <a class="_link _link--en js-link--en" href="index.html" data-swup-preload>En</a>
                      </li>
                      <li class="c-langSwitch__listItem">
                        <a class="_link _link--es js-link--es" href="/es/index.html" data-swup-preload>Es</a>
                      </li>
                      <li class="c-langSwitch__listItem">
                        <a class="_link _link--fr js-link--fr" href="/fr/index.html" data-swup-preload>Fr</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              </div>
              </div>
              </div>
              </nav>
              </div>
              </div>
              </main>
              <!-- END: pjax container -->
              <!-- Opening -->
              <div class="l-opening">
              <div class="c-opening js-opening">
              <video class="c-opening__video js-openingVideo" src="https://thebfe.com/assets/videos/opening.mov" muted playsinlinedata-sp-src="https://thebfe.com/assets/videos/opening-sp.mp4"></video>
              </div>
              </div>
              <!-- Cursor -->
              <div class="l-cursor">
              <div class="c-cursor is-inactive js-cursor">
              <div class="c-cursor__normal"><img src="https://thebfe.com/assets/svg/cursor/heart.svg" alt></div>
              
              <div class="c-cursor__clickEffect">
              <span class="_lineWrapper">
              <span class="_line"></span>
              </span>
              <span class="_lineWrapper">
              <span class="_line"></span>
              </span>
              <span class="_lineWrapper">
              <span class="_line"></span>
              </span>
              <span class="_lineWrapper">
              <span class="_line"></span>
              </span>
              <span class="_lineWrapper">
              <span class="_line"></span>
              </span>
              <span class="_lineWrapper">
              <span class="_line"></span>
              </span>
              <span class="_lineWrapper">
              <span class="_line"></span>
              </span>
              <span class="_lineWrapper">
              <span class="_line"></span>
              </span>
              </div>
              </div>
              </div>
              <!-- Transition animation -->
              <div class="l-transition">
              <div class="_inner js-pageTransition"></div>
              </div>
              
              <!-- Window size -->
              <div class="l-windowSize js-windowSize"></div>
              
              <script src="https://thebfe.com/assets/scripts/main.js"></script>
              </body>
              
              </html>
