
<% include("../functions") %>
<html>
  <head>
    <title>Services | The Boyfriend Experience</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
    <link type="text/css" href="../wp-content/themes/cwiz-wp-theme/style.css" rel="stylesheet"><!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <script type="text/javascript">
                  var _setInit = true;
                  var _getDomainName = '../index.html';
                  var _getStylesheetDirectoryUri = '../wp-content/themes/cwiz-wp-theme/index.html';  </script>
    <script id="cwiz-bundle" type="text/javascript" src="../wp-content/themes/cwiz-wp-theme/js/libs.bundle.js"></script>
    <script type='text/javascript' src='/wp-includes/js/jquery/jquery.min9d52.js?ver=3.5.1' id='jquery-core-js'></script>
    <script type='text/javascript' src='/wp-includes/js/jquery/jquery-migrate.mind617.js?ver=3.3.2' id='jquery-migrate-js'></script>
  <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">

  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="stylesheet" href="https://thebfe.com/assets/styles/index.css" />

</head>

<body>
  <header>
    <%- include("../partials/header") %>
  </header>

<body class="page-template page-template-page-Services page-template-page-Services-php page page-id-15 services">
    <div class="contents__wrapper">
      <div class="contents__block cblock1">
        <h5>SERVICES</h5>
        <div class="headercopy">
         <%if (location.description) { %>
        <p style="color:var(--text-primary);"> <%= location.description %> </p>
      <% } %>
          <!--<p>My hourly rate is two hundred fifty dollars ($250) plus any travel expenses for outcall (i.e., Uber, Lyft, travel). Three-hour sessions are seven hundred fifty dollars ($750), and overnight rates are one thousand five hundred dollars ($1,500).</p>-->
        </div>
      </div>
        <ul class="items">
        <% items.forEach(function(item) { %>
        <% item.itemData.variations.forEach(function(variation) { %>
          <a class="item" href="/staff/<%= variation.id %>?version=<%= variation.version %>">
            <div class="card__wrapper">
              <div class="card__info">
                <h4><%= item.itemData.name %> - <%= variation.itemVariationData.name %></h4>
                <h5 class="card__description bodycopy" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);"><%= item.itemData.description %></h5>
                <span class="card__details">
                  <%if (variation.itemVariationData.pricingType === "FIXED_PRICING") { %>
                    <%= formatMoney(variation.itemVariationData.priceMoney.amount, variation.itemVariationData.priceMoney.currency) %>
                  <% } else { %>
                    Price Varies
                  <% } %>
                  • <%= formatTime(variation.itemVariationData.serviceDuration) %>
                  </span>
              </div>
              <span class="card__icon"></span>
              <img src="images/side-caret.svg">
            </div>
          </a>
        <%}); %>
      <%}); %>
      <% if (!items.length) {%>
        <div class="card__wrapper disabled"></div>
      <% } %>
    </div>
  </div>
</div>
<% if (!items.length) {%>
  <div class="developer-note">
    <div>
      <h5>Developer note</h5>
      <span>Looks like you don’t have any services setup yet. Run the seeding script or use the 
        <a href="https://developer.squareup.com/explorer/square/catalog-api/upsert-catalog-object" target="_blank">API Explorer</a> or the Seller Dashboard for your environment
        to create your first service. For more information, check our README file.
      </span>
    </div>
  </div>
<% } %>
        </ul>
      </div>
    </div>
  </section>
    <!-- contents end -->
<style>
  /*! CSS Used from: https://thebfe.com/assets/styles/index.css */
  ul {
    box-sizing: border-box;
  }

  @media (prefers-color-scheme: dark) {
    img:not([src*=".svg"]) {
      filter: var(--image-filter);
    }

    ul {
      list-style: none;
      padding: 0;
    }

    hr {
      box-sizing: content-box;
    }

    a,
    hr {
      color: inherit;
    }

    img:not([src*=".svg"]) {
      filter: var(--image-filter);
    }

    img {
      filter: brightness(0.8) contrast(1.2);
    }

    hr {
      overflow: visible;
    }

    *,
    ::after,
    ::before {
      box-sizing: border-box;
      border-style: solid;
      border-width: 0;
    }

    p {
      margin: 0;
    }

    ul {
      margin: 0;
    }

    hr {
      height: 0;
      border-top-width: 1px;
      margin: 0;
      clear: both;
    }

    a {
      background-color: transparent;
      text-decoration: none;
      display: inline-block;
    }

    img {
      vertical-align: bottom;
    }

    .c-footer__contactLink {
      font-family: LeGrandRegular-Regular, "Cormorant Garamond", "Times New Roman",
        YuMincho, "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif;
    }

    @media only screen and (min-width: 768px) {
      * {
        cursor: none !important;
      }
    }

    ::selection {
      background: rgba(181, 76, 85, 0.1);
      color: #b54c55;
    }

    .c-section-content {
      margin: 0 auto;
      width: 100%;
      max-width: 1680px;
    }

    .c-hidden {
      visibility: hidden !important;
      pointer-events: none !important;
    }

    body[data-page-type="top"] .c-footer__breadcrumbs {
      visibility: hidden;
    }

    .c-guide {
      pointer-events: none;
    }

    .c-footer__toTopLink {
      transform: rotate(90deg);
    }

    .c-arrowSlanting {
      position: relative;
      overflow: hidden;
      display: inline-block;
      width: 2rem;
      height: 2rem;
    }

    .c-arrowSlanting ._arrow1,
    .c-arrowSlanting ._arrow2 {
      position: absolute;
      top: 50%;
      left: 50%;
      display: inline-block;
      margin-top: -6%;
      margin-left: 10%;
      padding: 10%;
      width: 100%;
      height: 100%;
      transform: translate(-50%, -50%);
    }

    .c-arrowSlanting ._arrow1 img,
    .c-arrowSlanting ._arrow2 img {
      display: block;
      width: 100%;
      height: 100%;
      -o-object-fit: contain;
      object-fit: contain;
      transition: transform 0.6s cubic-bezier(0, 0, 0.5, 1);
    }

    .c-arrowSlanting ._arrow2 img {
      transform: translate(-120%, 120%);
    }

    .c-arrowRight {
      position: relative;
      display: flex;
      align-items: center;
      width: 4.4rem;
      height: 1.1rem;
      transition: transform 0.4s cubic-bezier(0, 0, 0.5, 1);
    }

    .c-arrowRight ._triangle {
      position: absolute;
      top: 0;
      left: 0;
      display: inline-flex;
      width: 100%;
      height: 100%;
    }

    .c-arrowRight ._triangle img {
      width: 100%;
      height: 100%;
      -o-object-fit: contain;
      object-fit: contain;
      -o-object-position: center right;
      object-position: center right;
    }

    .c-hoverTransparent {
      transition: opacity 1.5s cubic-bezier(0, 0, 0.5, 1);
    }

    .c-guide {
      position: relative;
      width: 100%;
      height: 100%;
    }

    .c-footer__wrapper {
      position: relative;
      padding: 12.4rem 8rem 9.4rem;
    }

    .c-footer__bg {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      pointer-events: none;
      opacity: 0;
      transition: opacity 0.8s cubic-bezier(0, 0, 0.5, 1);
    }

    .c-footer__bg.is-visible {
      opacity: 1;
    }

    .c-footer__bg ._h {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 82.6rem;
      height: 105.4rem;
    }

    .c-footer__bg ._door {
      position: absolute;
      right: -9rem;
      bottom: 0;
      width: 31rem;
      height: 68.4rem;
      background: url("/assets/img/footer/door-bg-dark.png") 0 0 / auto 100% repeat-x;
      border-radius: 22rem 0 0;
    }

    .c-footer__guide {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }

    .c-footer__nav {
      position: relative;
      display: flex;
    }

    .c-footer__breadcrumbs {
      display: flex;
      padding-top: 0.6rem;
      padding-left: 7rem;
      width: 50%;
    }

    .c-footer__breadcrumbsItem ._link,
    .c-footer__linksItem ._link,
    .c-footer__titleLink {
      padding: 1rem 0;
      display: inline-block;
    }

    .c-footer__breadcrumbsItem {
      font-style: normal;
      font-weight: 500;
      font-size: 1.2rem;
      line-height: 1;
      letter-spacing: 0.04em;
      color: #666;
    }

    .c-footer__contactLink,
    .c-footer__contactMsg,
    .c-footer__linksItem {
      font-weight: 400;
      font-style: normal;
    }

    .c-footer__breadcrumbsItem:last-child {
      color: #999;
      pointer-events: none;
    }

    .c-footer__breadcrumbsItem ._link {
      overflow: hidden;
      max-width: 24.5rem;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .c-footer__content {
      position: relative;
      flex: 1;
    }

    .c-footer__title {
      margin-left: 3.3rem;
    }

    .c-footer__titleLogo {
      width: 19.7rem;
      height: 2.4rem;
      transform: scale(1.001);
    }

    .c-footer__links {
      display: inline-flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: flex-start;
      margin-top: 4.1rem;
      margin-left: 3.2rem;
      height: 10.4rem;
    }

    .c-section-content {
      height: 100%;
    }

    .c-footer__linksItem {
      position: relative;
      font-size: 1.4rem;
      line-height: 1.21;
      letter-spacing: 0.04em;
      color: #fff;
    }

    .c-footer__linksItem:nth-child(2n) {
      margin-top: 2rem;
    }

    .c-footer__linksItem:nth-child(n + 3) {
      margin-left: 10rem;
    }

    .c-footer__linksItem .c-arrowSlanting {
      position: absolute;
      top: 1rem;
      right: -2.1rem;
      width: 1.2rem;
      height: 1.2rem;
    }

    .c-footer__divider {
      margin-top: 3.9rem;
      border-color: transparent;
    }

    .c-footer__contact {
      margin-top: 6.1rem;
      margin-left: 3.2rem;
    }

    .c-footer__contactMsg {
      font-size: 1.4rem;
      line-height: 1.21;
      color: #c0ab92;
    }

    .c-footer__contactLink {
      margin-top: 1.6rem;
      font-size: 6.4rem;
      line-height: 1.33;
      color: #fff;
    }

    .c-footer__externalServices {
      display: flex;
      align-items: center;
      margin-top: 6.8rem;
      margin-left: 3.2rem;
      padding-left: 18.5rem;
    }

    .c-footer__externalServicesItem:not(:first-child) {
      margin-left: 8.9rem;
    }

    .c-footer__externalServicesItem ._link {
      display: inline-block;
      padding: 1rem 0;
    }

    .c-footer__externalServicesItem ._note {
      width: 6rem;
      height: 1.6rem;
      transform: scale(1.001);
    }

    .c-footer__copyright {
      margin-top: -3rem;
      margin-left: 3.3rem;
      font-style: normal;
      font-weight: 300;
      font-size: 1rem;
      line-height: 1.2;
      color: #999;
    }

    .c-footer__toTopLink {
      font-style: normal;
      font-weight: 400;
    }

    .c-footer__toTopLink {
      position: absolute;
      right: -1.6rem;
      bottom: -0.3rem;
      display: inline-flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem 0;
      width: 12.2rem;
      font-size: 1.2rem;
      line-height: 1.25;
      letter-spacing: 0.04em;
      color: #fff;
      transform-origin: bottom right;
    }

    .c-footer__toTopLink ._arrow {
      transform: scaleX(-1);
    }

    .c-footer__toTopLink .c-arrowRight {
      width: 4.4rem;
      height: 1.1rem;
    }

    @media (hover: hover) {
      .c-hoverTransparent:hover {
        opacity: 0.5;
        transition: opacity 0.2s cubic-bezier(0, 0, 0.5, 1);
      }
    }

    @media only screen and (max-width: 767px) {
      .u-pc {
        display: none !important;
      }

      .c-arrowRight {
        width: 4.6rem;
        height: 1.2rem;
      }

      .c-footer__wrapper {
        padding: 10.5rem 3.1rem 10.8rem;
      }

      .c-footer__bg ._h {
        bottom: 43.3rem;
        left: -8.5rem;
        width: 50rem;
        height: 64rem;
      }

      .c-footer__title {
        margin-left: 0;
      }

      .c-footer__titleLogo {
        width: 18.4rem;
        height: 2.2rem;
      }

      .c-footer__links {
        margin-top: 2.7rem;
        margin-left: 1.4rem;
        height: auto;
      }

      .c-footer__linksItem {
        font-size: 1.6rem;
        line-height: 1.25;
      }

      .c-footer__linksItem:nth-child(2n) {
        margin-top: 1.2rem;
      }

      .c-footer__linksItem:nth-child(n + 3) {
        margin-top: 1.2rem;
        margin-left: 0;
      }

      .c-footer__contact {
        margin-top: 13rem;
        margin-left: 0;
      }

      .c-footer__contactLink {
        margin-top: 1.9rem;
        font-size: 5rem;
        line-height: 1.4;
      }

      .c-footer__externalServices {
        justify-content: center;
        margin-top: 6.2rem;
        margin-left: 0;
        padding-left: 0;
      }

      .c-footer__externalServicesItem:not(:first-child) {
        margin-left: 6rem;
      }

      .c-footer__externalServicesItem ._note {
        width: 8.1rem;
        height: 2.2rem;
      }

      .c-footer__copyright {
        margin-top: 5rem;
        margin-left: 0;
        font-size: 1.2rem;
        text-align: center;
        letter-spacing: 0.04em;
      }

      .c-footer__toTopLink {
        right: 5.9rem;
        bottom: 38.6rem;
        width: 12.8rem;
        font-size: 1.3rem;
        color: #c0ab92;
      }

      .c-footer__toTopLink .c-arrowRight {
        width: 4.9rem;
        height: 1.3rem;
      }
    }
  }

  @media (prefers-color-scheme: dark) {
    @media only screen and (max-width: 767px) {
      .u-pc {
        display: none !important;
      }
    }

    *,
    ::after,
    ::before {
      box-sizing: border-box;
      border-style: solid;
      border-width: 0;
    }

    p {
      margin: 0;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    hr {
      box-sizing: content-box;
      height: 0;
      overflow: visible;
      border-top-width: 1px;
      margin: 0;
      clear: both;
      color: inherit;
    }

    a {
      background-color: transparent;
      text-decoration: none;
      color: inherit;
    }

    img {
      vertical-align: bottom;
    }

    a {
      display: inline-block;
    }

    @media only screen and (min-width: 768px) {
      * {
        cursor: none !important;
      }
    }

    ::selection {
      background: rgba(181, 76, 85, 0.1);
      color: #cb0a17;
    }

    .c-section-content {
      margin: 0 auto;
      width: 100%;
      max-width: 1680px;
    }

    .c-hidden {
      visibility: hidden !important;
      pointer-events: none !important;
    }

    .c-arrowSlanting {
      position: relative;
      overflow: hidden;
      display: inline-block;
      width: 2rem;
      height: 2rem;
    }

    .c-arrowSlanting ._arrow1,
    .c-arrowSlanting ._arrow2 {
      position: absolute;
      top: 50%;
      left: 50%;
      display: inline-block;
      margin-top: -6%;
      margin-left: 10%;
      padding: 10%;
      width: 100%;
      height: 100%;
      transform: translate(-50%, -50%);
    }

    .c-arrowSlanting ._arrow1 img,
    .c-arrowSlanting ._arrow2 img {
      display: block;
      width: 100%;
      height: 100%;
      -o-object-fit: contain;
      object-fit: contain;
      transition: transform 0.6s cubic-bezier(0, 0, 0.5, 1);
    }

    .c-arrowSlanting ._arrow2 img {
      transform: translate(-120%, 120%);
    }

    .c-arrowRight {
      position: relative;
      display: flex;
      align-items: center;
      width: 4.4rem;
      height: 1.1rem;
      transition: transform 0.4s cubic-bezier(0, 0, 0.5, 1);
    }

    @media only screen and (max-width: 767px) {
      .c-arrowRight {
        width: 4.6rem;
        height: 1.2rem;
      }
    }

    .c-arrowRight ._triangle {
      position: absolute;
      top: 0;
      left: 0;
      display: inline-flex;
      width: 100%;
      height: 100%;
    }

    .c-arrowRight ._triangle img {
      width: 100%;
      height: 100%;
      -o-object-fit: contain;
      object-fit: contain;
      -o-object-position: center right;
      object-position: center right;
    }

    .c-hoverTransparent {
      transition: opacity 1.5s cubic-bezier(0, 0, 0.5, 1);
    }

    @media (hover: hover) {
      .c-hoverTransparent:hover {
        opacity: 0.5;
        transition: opacity 0.2s cubic-bezier(0, 0, 0.5, 1);
      }
    }

    .c-guide {
      position: relative;
      width: 100%;
      height: 100%;
      pointer-events: none;
    }

    .c-footer__wrapper {
      position: relative;
      padding: 12.4rem 8rem 9.4rem;
    }

    @media only screen and (max-width: 767px) {
      .c-footer__wrapper {
        padding: 10.5rem 3.1rem 10.8rem;
      }
    }

    .c-footer__bg {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      pointer-events: none;
      opacity: 0;
      transition: opacity 0.8s cubic-bezier(0, 0, 0.5, 1);
    }

    .c-footer__bg.is-visible {
      opacity: 1;
    }

    .c-footer__bg ._h {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 82.6rem;
      height: 105.4rem;
    }

    @media only screen and (max-width: 767px) {
      .c-footer__bg ._h {
        bottom: 43.3rem;
        left: -8.5rem;
        width: 50rem;
        height: 64rem;
      }
    }

    .c-footer__bg ._door {
      position: absolute;
      right: -9rem;
      bottom: 0;
      width: 31rem;
      height: 68.4rem;
      background: url(/assets/img/footer/door-bg.jpg);
      background-repeat: repeat-x;
      background-size: auto 100%;
      border-radius: 22rem 0 0 0;
    }

    .c-footer__guide {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }

    .c-footer__nav {
      position: relative;
      display: flex;
    }

    .c-footer__breadcrumbs {
      display: flex;
      padding-top: 0.6rem;
      padding-left: 7rem;
      width: 50%;
    }

    .c-footer__breadcrumbsItem {
      font-style: normal;
      font-weight: 500;
      font-size: 1.2rem;
      line-height: 1;
      letter-spacing: 0.04em;
      color: #fff;
    }

    .c-footer__breadcrumbsItem:last-child {
      color: #ccc;
      pointer-events: none;
    }

    .c-footer__breadcrumbsItem ._link {
      overflow: hidden;
      display: inline-block;
      padding: 1rem 0;
      max-width: 24.5rem;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .c-footer__content {
      position: relative;
      flex: 1;
    }

    .c-footer__title {
      margin-left: 3.3rem;
    }

    @media only screen and (max-width: 767px) {
      .c-footer__title {
        margin-left: 0;
      }
    }

    .c-footer__titleLink {
      display: inline-block;
      padding: 1rem 0;
    }

    .c-footer__titleLogo {
      width: 19.7rem;
      height: 2.4rem;
      transform: scale(1.001);
    }

    @media only screen and (max-width: 767px) {
      .c-footer__titleLogo {
        width: 18.4rem;
        height: 2.2rem;
      }
    }

    .c-footer__links {
      display: inline-flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: flex-start;
      margin-top: 4.1rem;
      margin-left: 3.2rem;
      height: 10.4rem;
    }

    @media only screen and (max-width: 767px) {
      .c-footer__links {
        margin-top: 2.7rem;
        margin-left: 1.4rem;
        height: auto;
      }
    }

    .c-footer__linksItem {
      position: relative;
      font-style: normal;
      font-weight: 400;
      font-size: 1.4rem;
      line-height: 1.21;
      letter-spacing: 0.04em;
      color: #fff;
    }

    @media only screen and (max-width: 767px) {
      .c-footer__linksItem {
        font-size: 1.6rem;
        line-height: 1.25;
      }
    }

    .c-footer__linksItem:nth-child(2n) {
      margin-top: 2rem;
    }

    @media only screen and (max-width: 767px) {
      .c-footer__linksItem:nth-child(2n) {
        margin-top: 1.2rem;
      }
    }

    .c-footer__linksItem:nth-child(n + 3) {
      margin-left: 10rem;
    }

    @media only screen and (max-width: 767px) {
      .c-footer__linksItem:nth-child(n + 3) {
        margin-top: 1.2rem;
        margin-left: 0;
      }
    }

    .c-footer__linksItem ._link {
      display: inline-block;
      padding: 1rem 0;
    }

    .c-footer__linksItem .c-arrowSlanting {
      position: absolute;
      top: 1rem;
      right: -2.1rem;
      width: 1.2rem;
      height: 1.2rem;
    }

    .c-footer__divider {
      margin-top: 3.9rem;
      border-color: #d5d5d5;
    }

    .c-footer__contact {
      margin-top: 6.1rem;
      margin-left: 3.2rem;
    }

    @media only screen and (max-width: 767px) {
      .c-footer__contact {
        margin-top: 13rem;
        margin-left: 0;
      }
    }

    .c-footer__contactMsg {
      font-style: normal;
      font-weight: 400;
      font-size: 1.4rem;
      line-height: 1.21;
      color: #666;
    }

    .c-footer__contactLink {
      margin-top: 1.6rem;
      font-family: LeGrandRegular-Regular, "Cormorant Garamond", "Times New Roman",
        YuMincho, "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif;
      font-style: normal;
      font-weight: 400;
      font-size: 6.4rem;
      line-height: 1.33;
      color: #fff;
      border-bottom: 1px solid #fff;
    }

    @media only screen and (max-width: 767px) {
      .c-footer__contactLink {
        margin-top: 1.9rem;
        font-size: 5rem;
        line-height: 1.4;
      }
    }

    .c-footer__externalServices {
      display: flex;
      align-items: center;
      margin-top: 6.8rem;
      margin-left: 3.2rem;
      padding-left: 18.5rem;
    }

    @media only screen and (max-width: 767px) {
      .c-footer__externalServices {
        justify-content: center;
        margin-top: 6.2rem;
        margin-left: 0;
        padding-left: 0;
      }
    }

    .c-footer__externalServicesItem:not(:first-child) {
      margin-left: 8.9rem;
    }

    @media only screen and (max-width: 767px) {
      .c-footer__externalServicesItem:not(:first-child) {
        margin-left: 6rem;
      }
    }

    .c-footer__externalServicesItem ._link {
      display: inline-block;
      padding: 1rem 0;
    }

    .c-footer__externalServicesItem ._note {
      width: 6rem;
      height: 1.6rem;
      transform: scale(1.001);
    }

    @media only screen and (max-width: 767px) {
      .c-footer__externalServicesItem ._note {
        width: 8.1rem;
        height: 2.2rem;
      }
    }

    .c-footer__copyright {
      margin-top: -3rem;
      margin-left: 3.3rem;
      font-style: normal;
      font-weight: 300;
      font-size: 1rem;
      line-height: 1.2;
      color: #ccc;
    }

    @media only screen and (max-width: 767px) {
      .c-footer__copyright {
        margin-top: 5rem;
        margin-left: 0;
        font-size: 1.2rem;
        text-align: center;
        letter-spacing: 0.04em;
      }
    }

    .c-footer__toTopLink {
      position: absolute;
      right: -1.6rem;
      bottom: -0.3rem;
      display: inline-flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem 0;
      width: 12.2rem;
      font-style: normal;
      font-weight: 400;
      font-size: 1.2rem;
      line-height: 1.25;
      letter-spacing: 0.04em;
      color: #c0ab92;
      transform: rotate(90deg);
      transform-origin: bottom right;
    }

    @media only screen and (max-width: 767px) {
      .c-footer__toTopLink {
        right: 5.9rem;
        bottom: 38.6rem;
        width: 12.8rem;
        font-size: 1.3rem;
        color: #666;
      }
    }

    .c-footer__toTopLink ._arrow {
      transform: scaleX(-1);
    }

    .c-footer__toTopLink .c-arrowRight {
      width: 4.4rem;
      height: 1.1rem;
    }

    @media only screen and (max-width: 767px) {
      .c-footer__toTopLink .c-arrowRight {
        width: 4.9rem;
        height: 1.3rem;
      }
    }

    body[data-page-type="top"] .c-footer__breadcrumbs {
      visibility: hidden;
    }

    .c-section-content {
      height: 100%;
    }
  }

  @media (prefers-color-scheme: light) {
    @media only screen and (max-width: 767px) {
      .u-pc {
        display: none !important;
      }
    }

    *,
    ::after,
    ::before {
      box-sizing: border-box;
      border-style: solid;
      border-width: 0;
    }

    p {
      margin: 0;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    hr {
      box-sizing: content-box;
      height: 0;
      overflow: visible;
      border-top-width: 1px;
      margin: 0;
      clear: both;
      color: inherit;
    }

    a {
      background-color: transparent;
      text-decoration: none;
      color: inherit;
    }

    img {
      vertical-align: bottom;
    }

    a {
      display: inline-block;
    }

    @media only screen and (min-width: 768px) {
      * {
        cursor: none !important;
      }
    }

    ::selection {
      background: rgba(181, 76, 85, 0.1);
      color: #cb0a17;
    }

    .c-section-content {
      margin: 0 auto;
      width: 100%;
      max-width: 1680px;
    }

    .c-hidden {
      visibility: hidden !important;
      pointer-events: none !important;
    }

    .c-arrowSlanting {
      position: relative;
      overflow: hidden;
      display: inline-block;
      width: 2rem;
      height: 2rem;
    }

    .c-arrowSlanting ._arrow1,
    .c-arrowSlanting ._arrow2 {
      position: absolute;
      top: 50%;
      left: 50%;
      display: inline-block;
      margin-top: -6%;
      margin-left: 10%;
      padding: 10%;
      width: 100%;
      height: 100%;
      transform: translate(-50%, -50%);
    }

    .c-arrowSlanting ._arrow1 img,
    .c-arrowSlanting ._arrow2 img {
      display: block;
      width: 100%;
      height: 100%;
      -o-object-fit: contain;
      object-fit: contain;
      transition: transform 0.6s cubic-bezier(0, 0, 0.5, 1);
    }

    .c-arrowSlanting ._arrow2 img {
      transform: translate(-120%, 120%);
    }

    .c-arrowRight {
      position: relative;
      display: flex;
      align-items: center;
      width: 4.4rem;
      height: 1.1rem;
      transition: transform 0.4s cubic-bezier(0, 0, 0.5, 1);
    }

    @media only screen and (max-width: 767px) {
      .c-arrowRight {
        width: 4.6rem;
        height: 1.2rem;
      }
    }

    .c-arrowRight ._triangle {
      position: absolute;
      top: 0;
      left: 0;
      display: inline-flex;
      width: 100%;
      height: 100%;
    }

    .c-arrowRight ._triangle img {
      width: 100%;
      height: 100%;
      -o-object-fit: contain;
      object-fit: contain;
      -o-object-position: center right;
      object-position: center right;
    }

    .c-hoverTransparent {
      transition: opacity 1.5s cubic-bezier(0, 0, 0.5, 1);
    }

    @media (hover: hover) {
      .c-hoverTransparent:hover {
        opacity: 0.5;
        transition: opacity 0.2s cubic-bezier(0, 0, 0.5, 1);
      }
    }

    .c-guide {
      position: relative;
      width: 100%;
      height: 100%;
      pointer-events: none;
    }

    .c-footer__wrapper {
      position: relative;
      padding: 12.4rem 8rem 9.4rem;
    }

    @media only screen and (max-width: 767px) {
      .c-footer__wrapper {
        padding: 10.5rem 3.1rem 10.8rem;
      }
    }

    .c-footer__bg {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      pointer-events: none;
      opacity: 0;
      transition: opacity 0.8s cubic-bezier(0, 0, 0.5, 1);
    }

    .c-footer__bg.is-visible {
      opacity: 1;
    }

    .c-footer__bg ._h {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 82.6rem;
      height: 105.4rem;
    }

    @media only screen and (max-width: 767px) {
      .c-footer__bg ._h {
        bottom: 43.3rem;
        left: -8.5rem;
        width: 50rem;
        height: 64rem;
      }
    }

    .c-footer__bg ._door {
      position: absolute;
      right: -9rem;
      bottom: 0;
      width: 31rem;
      height: 68.4rem;
      background: url(/assets/img/footer/door-bg.jpg);
      background-repeat: repeat-x;
      background-size: auto 100%;
      border-radius: 22rem 0 0 0;
    }

    .c-footer__guide {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }

    .c-footer__nav {
      position: relative;
      display: flex;
    }

    .c-footer__breadcrumbs {
      display: flex;
      padding-top: 0.6rem;
      padding-left: 7rem;
      width: 50%;
    }

    .c-footer__breadcrumbsItem {
      font-style: normal;
      font-weight: 500;
      font-size: 1.2rem;
      line-height: 1;
      letter-spacing: 0.04em;
      color: #111;
    }

    .c-footer__breadcrumbsItem:last-child {
      color: #333;
      pointer-events: none;
    }

    .c-footer__breadcrumbsItem ._link {
      overflow: hidden;
      display: inline-block;
      padding: 1rem 0;
      max-width: 24.5rem;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .c-footer__content {
      position: relative;
      flex: 1;
    }

    .c-footer__title {
      margin-left: 3.3rem;
    }

    @media only screen and (max-width: 767px) {
      .c-footer__title {
        margin-left: 0;
      }
    }

    .c-footer__titleLink {
      display: inline-block;
      padding: 1rem 0;
    }

    .c-footer__titleLogo {
      width: 19.7rem;
      height: 2.4rem;
      transform: scale(1.001);
    }

    @media only screen and (max-width: 767px) {
      .c-footer__titleLogo {
        width: 18.4rem;
        height: 2.2rem;
      }
    }

    .c-footer__links {
      display: inline-flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: flex-start;
      margin-top: 4.1rem;
      margin-left: 3.2rem;
      height: 10.4rem;
    }

    @media only screen and (max-width: 767px) {
      .c-footer__links {
        margin-top: 2.7rem;
        margin-left: 1.4rem;
        height: auto;
      }
    }

    .c-footer__linksItem {
      position: relative;
      font-style: normal;
      font-weight: 400;
      font-size: 1.4rem;
      line-height: 1.21;
      letter-spacing: 0.04em;
      color: #111;
    }

    @media only screen and (max-width: 767px) {
      .c-footer__linksItem {
        font-size: 1.6rem;
        line-height: 1.25;
      }
    }

    .c-footer__linksItem:nth-child(2n) {
      margin-top: 2rem;
    }

    @media only screen and (max-width: 767px) {
      .c-footer__linksItem:nth-child(2n) {
        margin-top: 1.2rem;
      }
    }

    .c-footer__linksItem:nth-child(n + 3) {
      margin-left: 10rem;
    }

    @media only screen and (max-width: 767px) {
      .c-footer__linksItem:nth-child(n + 3) {
        margin-top: 1.2rem;
        margin-left: 0;
      }
    }

    .c-footer__linksItem ._link {
      display: inline-block;
      padding: 1rem 0;
    }

    .c-footer__linksItem .c-arrowSlanting {
      position: absolute;
      top: 1rem;
      right: -2.1rem;
      width: 1.2rem;
      height: 1.2rem;
    }

    .c-footer__divider {
      margin-top: 3.9rem;
      border-color: #d5d5d5;
    }

    .c-footer__contact {
      margin-top: 6.1rem;
      margin-left: 3.2rem;
    }

    @media only screen and (max-width: 767px) {
      .c-footer__contact {
        margin-top: 13rem;
        margin-left: 0;
      }
    }

    .c-footer__contactMsg {
      font-style: normal;
      font-weight: 400;
      font-size: 1.4rem;
      line-height: 1.21;
      color: #666;
    }

    .c-footer__contactLink {
      margin-top: 1.6rem;
      font-family: LeGrandRegular-Regular, "Cormorant Garamond", "Times New Roman",
        YuMincho, "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif;
      font-style: normal;
      font-weight: 400;
      font-size: 6.4rem;
      line-height: 1.33;
      color: #111;
      border-bottom: 1px solid #111;
    }

    @media only screen and (max-width: 767px) {
      .c-footer__contactLink {
        margin-top: 1.9rem;
        font-size: 5rem;
        line-height: 1.4;
      }
    }

    .c-footer__externalServices {
      display: flex;
      align-items: center;
      margin-top: 6.8rem;
      margin-left: 3.2rem;
      padding-left: 18.5rem;
    }

    @media only screen and (max-width: 767px) {
      .c-footer__externalServices {
        justify-content: center;
        margin-top: 6.2rem;
        margin-left: 0;
        padding-left: 0;
      }
    }

    .c-footer__externalServicesItem:not(:first-child) {
      margin-left: 8.9rem;
    }

    @media only screen and (max-width: 767px) {
      .c-footer__externalServicesItem:not(:first-child) {
        margin-left: 6rem;
      }
    }

    .c-footer__externalServicesItem ._link {
      display: inline-block;
      padding: 1rem 0;
    }

    .c-footer__externalServicesItem ._note {
      width: 6rem;
      height: 1.6rem;
      transform: scale(1.001);
    }

    @media only screen and (max-width: 767px) {
      .c-footer__externalServicesItem ._note {
        width: 8.1rem;
        height: 2.2rem;
      }
    }

    .c-footer__copyright {
      margin-top: -3rem;
      margin-left: 3.3rem;
      font-style: normal;
      font-weight: 300;
      font-size: 1rem;
      line-height: 1.2;
      color: #333;
    }

    @media only screen and (max-width: 767px) {
      .c-footer__copyright {
        margin-top: 5rem;
        margin-left: 0;
        font-size: 1.2rem;
        text-align: center;
        letter-spacing: 0.04em;
      }
    }

    .c-footer__toTopLink {
      position: absolute;
      right: -1.6rem;
      bottom: -0.3rem;
      display: inline-flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem 0;
      width: 12.2rem;
      font-style: normal;
      font-weight: 400;
      font-size: 1.2rem;
      line-height: 1.25;
      letter-spacing: 0.04em;
      color: #000000;
      transform: rotate(90deg);
      transform-origin: bottom right;
    }

    @media only screen and (max-width: 767px) {
      .c-footer__toTopLink {
        right: 5.9rem;
        bottom: 38.6rem;
        width: 12.8rem;
        font-size: 1.3rem;
        color: #666;
      }
    }

    .c-footer__toTopLink ._arrow {
      transform: scaleX(-1);
    }

    .c-footer__toTopLink .c-arrowRight {
      width: 4.4rem;
      height: 1.1rem;
    }

    @media only screen and (max-width: 767px) {
      .c-footer__toTopLink .c-arrowRight {
        width: 4.9rem;
        height: 1.3rem;
      }
    }

    body[data-page-type="top"] .c-footer__breadcrumbs {
      visibility: hidden;
    }

    .c-section-content {
      height: 100%;
    }
  }

  /*! CSS Used fontfaces */
  @font-face {
    font-family: LeGrandRegular-Regular;
    src: url(/assets/fonts/LeGrandRegularRegular/font.woff2) format("woff2"),
      url(/assets/fonts/LeGrandRegularRegular/font.woff) format("woff");
  }

  @font-face {
    font-family: LeGrandRegular-Regular;
    src: url(/assets/fonts/LeGrandRegularRegular/font.woff2) format("woff2"),
      url(/assets/fonts/LeGrandRegularRegular/font.woff) format("woff");
  }

  @font-face {
    font-family: LeGrandRegular-Regular;
    src: url(/assets/fonts/LeGrandRegularRegular/font.woff2) format("woff2"),
      url(/assets/fonts/LeGrandRegularRegular/font.woff) format("woff");
  }
</style>
<div class="l-footer js-sectionBg">
  <footer class="c-footer js-footer">
    <div class="c-section-content">
      <div class="c-footer__wrapper">
        <div class="c-footer__bg js-footerBg is-visible">
          <picture>
            <source srcset="/assets/img/footer/h-dark.png" media="(prefers-color-scheme: dark)"> <img class="_h" src="https://thebfe.com/assets/img/footer/h.png" alt="Light Mode Image">
          </picture>
          <div class="_door u-pc"></div>
        </div>
        <div class="c-footer__guide">
          <div class="c-guide"></div>
        </div>
        <nav class="c-footer__nav">
          <ul class="c-footer__breadcrumbs u-pc">
            <li class="c-footer__breadcrumbsItem">
              <a class="_link c-hoverTransparent" href="index.html" data-swup-preload="">Top</a>
            </li>
          </ul>
          <div class="c-footer__content">
            <div class="c-footer__title">
              <a class="c-footer__titleLink c-hoverTransparent" href="index.html" aria-label="go to top page" data-swup-preload=""><img class="c-footer__titleLogo" src="https://thebfe.com/assets/svg/common/logo.svg" alt="The BFE"></a>
            </div>
            <ul class="c-footer__links">
              <li class="c-footer__linksItem">
                <a class="_link c-hoverTransparent" href="/terms-of-use.html" data-swup-preload="">Terms of
                  use</a>
              </li>
              <li class="c-footer__linksItem">
                <a class="_link c-hoverTransparent" href="/privacy-policy.html" data-swup-preload="">Privacy
                  policy</a>
              </li>
              <li class="c-footer__linksItem">
                <a class="_link c-hoverTransparent" href="https://www.websitepolicies.com/policies/view/hZAwWGJ1" data-swup-preload="">Disclaimer</a>
              </li>
              <li class="c-footer__linksItem">
                <a class="_link c-hoverTransparent" href="https://rentmen.eu/atlcallboy/reviews" target="_blank" rel="noopener noreferrer">Reviews
                  <span class="c-arrowSlanting"><span class="_arrow1"><img src="https://thebfe.com/assets/svg/common/arrow-slanting.svg" alt="arrow-slanting" class=""></span> <span class="_arrow2"><img src="https://thebfe.com/assets/svg/common/arrow-slanting.svg" alt="arrow-slanting" class="c-hidden"></span></span></a>
              </li>
            </ul>
            <hr class="c-footer__divider u-pc">
            <div class="c-footer__contact">
              <p class="c-footer__contactMsg">Send me a text</p><a class="c-footer__contactLink c-hoverTransparent" href="sms://+14049980707">(404) 998-0707</a>
            </div>
            <ul class="c-footer__externalServices">
              <li class="c-footer__externalServicesItem c-hoverTransparent">
                <a class="_link" href="https://openadultdirectory.com/escorts/" rel="noopener noreferrer" aria-label="open note"><img class="_note c-hidden" src="https://img.openadultdirectory.com/banner-img/escorts-md.jpg" border="0" alt="OpenAdultDirectory.com Escorts "></a>
              </li>
              <li class="c-footer__externalServicesItem c-hoverTransparent">
                <!-- Start TER Refer Link -->
                <a target="_blank" href="https://www.theeroticreview.com/site_listing/refer.asp?c2l0ZV9pZD0xMDE3NDYwNzI4"><img src="https://www.theeroticreview.com/site_listing/reviewed_seal.gif" border="0" alt="The Erotic Review" class=""></a>
                <!-- End TER Refer Link -->
              </li>
            </ul>
            <p class="c-footer__copyright">© 2022 the Boyfriend
              Experience</p><a class="c-footer__toTopLink js-toTop" href="#"><span class="_arrow"><span class="c-arrowRight">
                  <span class="_triangle"><img src="https://thebfe.com/assets/svg/common/arrow-small-black.svg" alt="arrow-small-black" class=""></span></span></span>
              Page top</a>
          </div>
        </nav>
      </div>
    </div>
  </footer>
</div>
  
  <script id="cwiz-app" type="text/javascript" src="../wp-content/themes/cwiz-wp-theme/js/app.js"></script> 
  <script>
  (function () { var s = document.createElement('script'), e = !document.body ? document.querySelector('head') : document.body; s.src = 'https://acsbapp.com/apps/app/dist/js/app.js'; s.async = true; s.onload = function () { acsbJS.init({ statementLink: '', footerHtml: '', hideMobile: false, hideTrigger: false, language: 'en', position: 'right', leadColor: '#146FF8', triggerColor: '#146FF8', triggerRadius: '50%', triggerPositionX: 'right', triggerPositionY: 'bottom', triggerIcon: 'people', triggerSize: 'medium', triggerOffsetX: 20, triggerOffsetY: 20, mobile: { triggerSize: 'small', triggerPositionX: 'right', triggerPositionY: 'center', triggerOffsetX: 0, triggerOffsetY: 0, triggerRadius: '50%' } }); }; e.appendChild(s); }());
  </script> 
  <script type='text/javascript' src='../wp-content/plugins/advanced-custom-fields-viewer/js/acfv-frontendd988.js?ver=5.7.8' id='acfv_frontend_js-js'></script> 
  

   
  </body>
</html>

