<% include("../functions") %>
<html>

<head>
  <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
</head>

<body>
  <header>
    <%- include("../partials/header") %>
  </header>
  <div class="content">
      <%if (cancel === "success") { %>
        <div class="success-toast">
          <div>
            <img src="/images/success.svg">Your booking was cancelled successfully!
          </div>
        </div>
      <% } %>
    </div>
    <div class="contents__block cblock1">
      <div style="opacity:1;transform: matrix(1, 0, 0, 1, 0, 0);flex-basis: 100%">
        <h5>
          <%if (location.description) { %>
            <h5 style="margin:0 0 20px;padding:0;border:0;font:inherit;font-size:100%;vertical-align:baseline"> <%= location.description %> </h5>
          <% } %>
      </div>
    </div>
    <div class="content-main services">

      <div class="cards">
        <h3 style="opacity: 1;transform: matrix(1, 0, 0, 1, 0, 0); text-align: center;">
          SERVICES
        </h3>
  
        <% items.forEach(function(item) { %>
          <% item.itemData.variations.forEach(function(variation) { %>
            <a href="/staff/<%= variation.id %>?version=<%= variation.version %>">
              <div class="card__wrapper">
                <div class="card__info">
                  <h4><%= item.itemData.name %> - <%= variation.itemVariationData.name %></h4>
                  <h5 class="card__description"><%= item.itemData.description %></h5>
                  <span class="card__details">
                    <%if (variation.itemVariationData.pricingType === "FIXED_PRICING") { %>
                      <%= formatMoney(variation.itemVariationData.priceMoney.amount, variation.itemVariationData.priceMoney.currency) %>
                    <% } else { %>
                      Price Varies
                    <% } %>
                    • <%= formatTime(variation.itemVariationData.serviceDuration) %>
                    </span>
                </div>
                <span class="card__icon"></span>
                <img src="images/side-caret.svg">
              </div>
            </a>
          <%}); %>
        <%}); %>
        <% if (!items.length) {%>
          <div class="card__wrapper disabled"></div>
        <% } %>
      </div>
    </div>
  </div>
  <% if (!items.length) {%>
    <div class="developer-note">
      <div>
        <h5>Developer note</h5>
        <span>Looks like you don’t have any services setup yet. Run the seeding script or use the 
          <a href="https://developer.squareup.com/explorer/square/catalog-api/upsert-catalog-object" target="_blank">API Explorer</a> or the Seller Dashboard for your environment
          to create your first service. For more information, check our README file.
        </span>
      </div>
    </div>
  <% } %>
</body>

</html>